<div class="about-me-picture">
  <%= image_tag @user.picture.url, class: "col-xs-5" %>
</div>

<div class="col-xs-7">
  <h1>Jason O. Gilbert</h1>
  <% if current_admin? %>
    <%= form_for @user, multipart: true do |f| %>
      <%= f.label "Picture" %>
      <%= f.file_field :picture %><br><br>
      <%= f.label "about-me body" %><br>
      <%= f.text_area :about_me_body, size: "40x15" %>
      <%= f.submit "update" %>
    <% end %>
  <% else %>
    <h3><%= @user.about_me_body %></h3>
  <% end %>
</div>



